<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee          https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <display-name>OnlineBloodDonation</display-name>
    <welcome-file-list>
        <welcome-file>prelogin.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.blood.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DonorLoginServlet</servlet-name>
        <servlet-class>DonorLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DonorLoginServlet</servlet-name>
        <url-pattern>/DonorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchDonorServlet</servlet-name>
        <servlet-class>com.blood.servlet.SearchDonorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchDonorServlet</servlet-name>
        <url-pattern>/SearchDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestBloodServlet</servlet-name>
        <servlet-class>com.blood.servlet.RequestBloodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestBloodServlet</servlet-name>
        <url-pattern>/RequestBloodServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.blood.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
